html{
  font-size: 10px;
}

.wrap {
  background: #353b45;
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: flex-start;
}

.header__nav{
  display: flex;
  align-items: center;
  position: relative;
  top: 20px;
}

.header__nav button{
  background: transparent;
  margin-right: 20px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;

  padding: 10px 10px;
}

.header__nav button.active{
  color: #ffcc00;
}
.header__nav button.active::before{
  content:'';
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffcc00;
  margin-right: 2px;
  position: relative;
  top:0px;
}


.header__nav button:hover{
  color: #ffcc00;
  cursor: pointer;
}

.content{
  color: #fff;
  box-sizing: border-box;
  padding: 10px 20px 30px;
  font-size: 2rem;
}
